{% extends 'base.html.twig' %}

{% block body %}
  
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="justify-content-center w-100 text-center">
        <h2 class="h2 my-5">Weclome on your Dashboard</h2>
        <p>select the dates for which you want your report:</p>
        <div class="mt-1">
        {% include "home/reportForm.html.twig" %}
        </div>
    </div>
{% else %}
{% include "home/login.html.twig" %}
{% endif %}
{% endblock %}

{% block footer %}
     {% include "footer.html.twig" %}
{% endblock %}
