{% extends 'base.html.twig' %}

{% block body %}
  
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
     <h1>Weclome on your Dashboard</h1>
    {% include "home/reportForm.html.twig" %}

{% else %}
{% include "home/login.html.twig" %}
{% endif %}
{% endblock %}
