{% block main %}
<form action="{{path('app_profile_result')}}" method="post">
  
    <input type="datetime-local" name="startDate" id="startDate">
    <input type="datetime-local" name="endDate" id="enDate">
    <input type="submit" name="search" id="search" value="Search">

</form>

{% endblock %}