{% extends '@EasyAdmin/page/content.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block page_actions %}
{% endblock %}
{% block main %}

<h4 class="">Rules for campain {{campaignId}}</h4>

<div class="row">

{% for rule in ruleGroupList %}
     <div class="col-3 marginColSelect border rounded" style="margin-left: 12px;">
        {{rule.name}}
    </div>
    <div class="col-3">
        <a href="{{path('delete_campaign_rule',  { 'id':campaignId , 'ruleId': rule.id })}}" class='btn btn-danger'>supprimer</a>
    </div>
{% endfor %}
</div>
<div class="row mt-5">
    <div class="col-5">
        {% include "select_rule_group/formSelect.html.twig" %}
    </div>
</div>
 
{% endblock %}