{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Report{% endblock %}
{% block main %}
<h2>Quick report</h2>
{% include "report/form.html.twig" %}
<h2 class="mt-3">Export csv</h2>
{% include "report/formCsv.html.twig" %}
{% endblock %}